/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
    line-height: 1.5;

    --primary-text-color: #121215;
    --secondary-text-color: #3e3e41;
    --durability-text-color: #58595c9c;
    --background-light-color: #f9f9f99c;
    --icon-color: #4d404a;
    --primary-dark-color: #56074e;
    --primary-medium-color: #c810b6;
    --primary-light-color: #fff4fe;
    --secondary-dark-color: #215207;
    --secondary-medium-color: #5adb14;
    --secondary-light-color: #f7fff3;
    --accent-color: #ff9a00;
    --border-color: #80ff0045;
    --text-decoration-color: #40ff00;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-text-color);
}

.resume {
    margin: 50px auto;
    border: 1px solid var(--primary-light-color);
    border-radius: 10px;
    box-shadow: 1px 1px 7px 7px #f5f5f5;
    max-width: 1200px;
    padding: 30px 0;
    background-color: var(--secondary-light-color);
}

.container {
    margin: 0 auto;
    padding: 0 30px;
}

.section {
    padding: 16px 10px 16px 10px;
}

/* Hero styles */
.hero {
    background-color: var(--primary-dark-color);
    border-radius: 10px;
}
.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    border: 5px solid var(--accent-color);
}
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.name {
    color: var(--secondary-light-color);
    text-decoration-color: var(--accent-color);
    text-decoration-line: underline;
    font-weight: 700;
    font-size: 50px;
}
.profession {
    color: var(--secondary-light-color);
    font-weight: 500;
    font-size: 36px;
}
.languages {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 500;
    font-size: 20px;
    color: var(--secondary-light-color);
    font-size: 20px;
}
.active {
    color: var(--accent-color);
}

/* Contents styles */
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
    background-color: var(--primary-light-color);
    border-radius: 10px;
    margin-top: 10px;
}
.contacts-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.content-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-weight: 500;
    font-size: 20px;
}
.contacts-title {
    font-weight: 700;
    font-size: 30px;
    color: var(--primary-text-color);
    text-decoration-color: var(--secondary-medium-color);
    text-decoration-line: underline;
    text-underline-offset: 6px;
}
.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font-size: 20px;
    color: var(--secondary-text-color);
}
.list-item {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.icon {
    color: var(--icon-color);
    margin-right: 10px;
}
.icon_color {
    fill: inherit;
    height: 24px;
    width: 24px;
}

/* About styles */
.about {
    border-bottom: 3px solid var(--secondary-dark-color);
}
.title {
    font-weight: 700;
    font-size: 32px;
    color: var(--primary-text-color);
}
.text {
    font-weight: 500;
    font-size: 20px;
    color: var(--secondary-text-color);
    text-indent: 30px;
}

/* Work styles */

.work {
    border-bottom: 3px solid var(--secondary-dark-color);
}
.work-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    font-weight: 500;
    font-size: 20px;
    color: var(--secondary-text-color);
}
.work-card {
    max-width: 500px;
}
.work-title {
    font-weight: 700;
    font-size: 30px;
    color: var(--primary-text-color);
    text-decoration-color: var(--secondary-medium-color);
    text-decoration-line: underline;
    text-underline-offset: 8px;
}
.work-time {
    font-weight: 500;
    color: var(--durability-text-color);
}
.work-position {
    font-weight: 700;
    font-size: 26px;
    color: var(--primary-text-color);
}
.work-list {
    color: var(--secondary-text-color);
    padding-left: 16px;
    list-style: disc;
    font-size: 24px;
    font-weight: 500;
    color: var(--secondary-text-color);
}
.work-project {
    color: var(--durability-text-color);
    font-size: 20px;
}
.work-link {
    color: var(--primary-medium-color);
    font-size: 24px;
    text-decoration: none;
    margin-left: 4px;
    font-weight: 500;
}
.work-link:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

/* Projects styles */
.projects {
    border-bottom: 3px solid var(--secondary-dark-color);
}
.project-title {
    font-weight: 700;
    font-size: 30px;
    color: var(--primary-text-color);
    text-decoration-color: var(--secondary-medium-color);
    text-decoration-line: underline;
    text-underline-offset: 4px;
}
.project-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.project-card {
    max-width: 500px;
    background: var(--primary-light-color);
    padding: 24px;
    border-radius: 8px;
}
.project-resource {
    font-weight: 500;
    font-size: 20px;
    color: var(--durability-text-color);
}
.project-list {
    padding-left: 16px;
    list-style: disc;
    font-size: 24px;
    font-weight: 500;
    color: var(--secondary-text-color);
}
.project-link {
    display: inline-block;
    color: var(--primary-medium-color);
    font-size: 24px;
    text-decoration: none;
    font-weight: 500;
    transition: transform 0.3s;
}
.project-link_color {
    color: var(--secondary-medium-color);
}
.project-link:hover {
    text-decoration: underline;
    color: var(--accent-color);
    transform: scale(1.1);
}
.project-role {
    font-weight: 500;
    font-size: 20px;
    color: var(--durability-text-color);
}
