/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    line-height: 1.5;

    --primary-text-color: #121215;
    --secondary-text-color: #333336;
    --durability-text-color: #4446499c;
    --background-light-color: #f9f9f99c;
    --icon-color: #4d404a;
    --primary-dark-color: #56074e;
    --primary-medium-color: #c810b6;
    --primary-light-color: #fff4fe;
    --secondary-dark-color: #215207;
    --secondary-medium-color: #5adb14;
    --secondary-light-color: #f7fff3;
    --accent-color: #ff9a00;
    --border-color: #80ff0045;
    --text-decoration-color: #40ff00;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-text-color);
}

.resume {
    margin: 50px auto;
    border: 1px solid var(--primary-light-color);
    border-radius: 10px;
    box-shadow: 1px 1px 7px 7px #f5f5f5;
    max-width: 1200px;
    padding: 30px 0;
    background-color: var(--secondary-light-color);
}

.container {
    margin: 0 auto;
    padding: 0 30px;
}

.section {
    padding: 15px 10px 0 10px;
    background-color: var(--primary-dark-color);
    border-radius: 8px;
}

/* Hero styles */
.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    border: 5px solid var(--accent-color);
}
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.name {
    color: var(--secondary-light-color);
    text-decoration-color: var(--accent-color);
    text-decoration-line: underline;
    font-weight: 700;
    font-size: 50px;
}
.profession {
    color: var(--secondary-light-color);
    font-weight: 500;
    font-size: 30px;
}
.languages {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 500;
    font-size: 20px;
    color: var(--secondary-light-color);
    font-size: 20px;
}
.active {
    color: var(--accent-color);
}
